* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: steelblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fill {
    background-image: url('https://images.unsplash.com/photo-1649972118902-029b49c0cf61?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=150&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY1MDkxOTI2NA&ixlib=rb-1.2.1&q=80&w=150');
    height: 100%;
    width: 100%;   
}

.empty {
    background-color: #fff;
    height: 200px;
    width: 200px;
    margin-right: 20px;
    border: 5px black solid;
    cursor: pointer;
}

.hold {
    border: 5px #ccc solid;
}

.hovered {
    background-color: #333;
    border-style: dashed;
    border-color: #fff;
}

