@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Heebo', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

body.dark {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.toggle {
    border: 0;
    padding: 13px 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: absolute;
    top: 100px;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.clock {
    width: 250px;
    height: 250px;
    background-color: #eee;
    position: relative;
}

.needle {
    position: absolute;
    width: 3px;
    height: 65px;
    background-color: var(--primary-color);
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.needle.hour {
    transform: translate(-50%,-100%) rotate(0deg);
    height: 60px;
}

.needle.minute {
    transform: translate(-50%,-100%) rotate(0deg);
    height: 100px;
}

.needle.second {
    transform: translate(-50%,-100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}

.center-point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #e74c3c;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.center-point::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.time {
    font-size: 25px;
    font-family: inherit;
}

.date {
    font-size: 18px;
    font-family: inherit;
}

.circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 50%;
}





